<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">



<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet"href=""th:href="@{/js/shoe.css}"/>

    <title>Hello, world!</title>
</head>

<form th:action="@{/admin/products/add}"method="post" th:object="${productdto}"></form>

    <div class="row">
        <th:block th:each = "product : ${products}">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
<!--                        <img class="pic-1" src="images/front.jpg">-->
                        <img src=""th:src="@{/image/front.jpg}"alt=""/>
                    </a>
                    <ul class="product-links">
<!--                        <a href="#"th:href="@{/admin/products}"class="card-link btn btn-danger">Manage</a>-->
                        <li><a href="#" th:href="@{/addToCart/{id}(id=${product.id})}"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
<!--                        <li><a href="#"th:href="@{/shop/viewproduct/{id}}" ><i class="fa fa-search"></i> Quick View</a></li>-->
                        <a href="#"th:href="@{/shop/viewproduct/{id}(id=${product.id})}" ><i class="fa fa-search"></i> Quick View</a></li>

                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#"> </a><p th:text="${product.name}"></p></h3>
                    <div class="price" > <p th:text="${product.price}"></p></div>
                </div>
            </div>
        </div>
        </th:block>

    </div>

</body>
</html>